{% extends 'base.html.twig' %}

{% block title %}Hello LetterController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            Objet : Demande d'informations complémentaires concernant le plaidoyer vélo et les mesures mises en place par la mairie
        </h1>
        <p>
            {% if data.genre == 0 %}
                Madame la Maire,
            {% else %}
                Monsieur le Maire,
            {% endif %}
        </p>
        <p>
            Je vous écris au nom de l'association Vélocité pour vous informer que nous sommes en train de préparer un rapport
            sur l'évolution des mesures et des aménagements cyclables réalisés depuis votre signature de notre plaidoyer
             lors de la campagne municipale de 2020.
        </p>
        <p>
            Comme vous le savez, ce plaidoyer comprend cinq points, à savoir :
            <ul>
                <li>la création d'un réseau cyclable à haut niveau de service (ReVE),</li>
                <li>la mise en place d'un parc circulaire sur les boulevards,</li>
                <li>l'intermodalité,</li>
                <li>l'apaisement des villes et centres-villes,</li>
                <li>la promotion d'une génération vélo.</li>
            </ul>
        </p>
        <p>
            Voici les critères de notation qui seront pris en compte pour chaque point.
            <ul>
                <li>ReVE : avancement et comparaison linéaire demandés / prévus</li>
                <li>Boulevards : déploiement du projet de reconfiguration{% if not data.hasBoulevard %} (non concerné){% endif %}</li>
                <li>Intermodalité : évolution du nombre de places sécurisées en gare{% if not data.hasGare %} (non concerné){% endif %}</li>
                <li>Apaisement : progression du nombre d'arceaux, ville à 30, évolution du linéaire en double-sens cyclable (DSC), progression du secteur borné et aire piétonne, élargissement stationnement payant, évolution aménagements cyclables pondérés inclus boulevards avec score de la mutation des bandes en couloir bus</li>
                <li>Écoles : progression des rues aux enfants en proportion du nombre d'écoles, volume de déploiement du Savoir Rouler à Vélo (SRAV), vélobus/pédibus</li>
            </ul>
            Les différents aménagements cyclables seront pondérés avec une échelle de valeur reflétant la qualité effective des aménagements pour les cyclistes.
        </p>
        <p>
            Ce rapport sera majoritairement basé sur les données en Open Data de la métropole à date pour les valeurs concernées.
            Les données y seront extraites au plus tard le {{ data.dateExtract|date('d/m/Y') }} afin d'arrêter les calculs. Nous vous invitons donc
            à proposer les mises à jour nécessaires auprès de la métropole afin que ce document soit le plus proche
            possible de la réalité.<br>
            Dans le cadre de notre rapport, nous avons besoin de certaines
            informations complémentaires pour évaluer la progression des mesures et des aménagements liés aux 5 points du plaidoyer.
        </p>
        <p>
            Tout d'abord, concernant le point 3 sur l'intermodalité, nous aimerions savoir si la mairie a installé des parcs
            relais voiture + vélo au niveau des intersections entre les grands axes automobiles et le réseau cyclable.<br>
            {% if data.hasGare %}
                Autour de votre gare, avez-vous installé une vélo-station (parking sécurisé comme à la gare Saint-Jean) ?
                En complément, nous aimerions connaître le nombre d'arceaux qui ont été installés à proximité de la gare.<br>
            {% endif %}
        </p>
        <p>
            Le point 4 concerne l'apaisement des villes et centres-villes.
            Nous avons joint à cette lettre une carte des zones 30 que nous vous prions de valider. Si des données
            manquent, merci de les faire remonter à la métropole.<br>
            {% if data.isCity30 %}
                Nous nous félicitons du passage en ville 30 pour {{ data.cityName }}.<br>
            {% else %}
                Nous aimerions également savoir si la circulation à 30km/h a été généralisée dans
                votre ville et vos ambitions en la matière. Si non, est-ce qu'une évolution en ce sens est prévue ?<br>
            {% endif %}
            {% if data.hasEvolutionSecteurBorne or data.hasNewSecteurBorne %}
                Félicitons {% if data.isCity30 %}également{% endif %} pour
                {% if data.hasEvolutionSecteurBorne and data.hasNewSecteurBorne %}
                    l'élargissement et l'installation d'un nouveau
                {% elseif data.hasEvolutionSecteurBorne %}
                    l'élargissement du
                {% else %}
                    l'installation d'un nouveau
                {% endif %}
                secteur borné afin d'apaiser la ville.
            {% endif %}
            Avez-vous prévu d'élargir/d'installer de nouveaux secteurs bornés ?<br>

            Aussi, nous vous demandons également de valider une carte des zones piétonnes que nous avons généré à partir de la
            même source de données. Nous aimerions savoir quelles sont vos ambitions concernant l'extension de ces zones.<br>
            Dernier élément de ce point 4, nous aimerions connaître l’évolution du nombre de places de stationnement automobile
            en surface sur votre commune. Quelles sont vos ambitions en la matière ?<br>
        </p>
        <p>
            Enfin, le point 5 sur la promotion d'une génération vélo contient une multitude de petites actions.<br>
            Nous aimerions savoir si le programme « savoir rouler à vélo » est en place dans les écoles de votre commune.<br>
            Si ce n'est pas le cas, nous aimerions savoir à quelle échéance cette mesure est prévue.<br>
            {% if data.nbRuesAuxEnfants > 0 %}
                Nous avons identifié {{ data.nbRuesAuxEnfants }} dispositifs « rues aux enfants » (piétonisation
                temporaire ou permanente) devant les écoles.
            {% else %}
                Nous n'avons identifié aucun dispositif « rues aux enfants » (piétonisation temporaire
                ou permanente) devant les écoles.
            {% endif %}
            Néanmoins, ce dispositif n'étant pas toujours nécessaire (par exemple, en présence d'un parc devant l'entrée
            de l'école), nous avons besoin de votre confirmation.
            Quel est votre ambition en la matière ?<br>
            Avez-vous mis en place du stationnement vélo dans ou devant les écoles ?<br>
            Des prêts de vélo gratuits pour les enfants sont-ils possibles dans votre commune.<br>
            Nous souhaitons également savoir quelles initiatives ont été développées pour le périscolaire et pour
            les agents municipaux. Des excursions scolaires à pied ou à vélo ont-elles été favorisées ?<br>
            Enfin, nous aimerions savoir si des initiatives de type vélobus ou pédibus ont été mises en place.
        </p>
        <p>
            Nous vous remercions pour votre collaboration et nous restons à votre disposition pour toute information complémentaire.<br>
            Cordialement,
        </p>
    </div>
{% endblock %}
