<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <base href="https://1ee1-2001-861-52-56a0-ec72-1f3f-1409-b43.ngrok-free.app">
        <title>{% block title %}Test génération lettre - Vélo-cité Bordeaux Métropole{% endblock %}</title>
        {% block stylesheets %}
            <style>
                @media print {
                    @page {
                        /*margin: 22mm 15mm 35mm 15mm;*/
                    }
                    html, body, #content, #header, #footer, .page {
                        -webkit-print-color-adjust: exact !important;
                    }
                }
                @font-face {
                    font-family: "Calibri";
                    src: url("https://www.deliverlean.com/fonts/calibri/calibri.ttf") format("truetype");
                }
                body {
                    font-family: "Calibri";
                    font-size: 10.5pt;
                    width: 21cm;
                }
                h1 {
                    font-size: 14pt;
                }
                h2 {
                    font-size: 10.5pt;
                    font-weight: bold;
                }
                h3 {
                    font-size: 10.5pt;
                    color: #00CDFF;
                }
                .page-break {
                    page-break-after: always;
                }
                .flex-container {
                    display: flex;
                    height: 100%;
                    gap: 20px;

                }

                .flex-container > div {
                    padding: 8px;
                }

                .menu {
                    flex: 0 0 150px;
                    text-align: right;
                    font-size: 8pt;
                }

                .corps-lettre {
                    flex-grow: 1;
                }
                .elemTitle {
                    display: block;
                    font-weight: bold;
                }
                a {
                    color: black;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="flex-container">
            {% block menu %}
            <div class="menu">
                <img src="{{ include('menu/data-menu.html.twig') }}" width="100" alt="">
                <p>
                    <span class="elemTitle">Adresse postale</span>
                    16 rue Ausone<br>
                    33000 Bordeaux
                </p>
                <p>
                    <span class="elemTitle">Tél.</span>
                    <a href="tel:+33556816389">05 56 81 63 89</a>
                </p>
                <p>
                    <span class="elemTitle">Site</span>
                    <a href="https://velo-cite.org">https://www.velo-cite.org</a>
                </p>
                <p>
                    <span class="elemTitle">Courriel</span>
                    <a href="mailto:contact@velo-cite.org">contact@velo-cite.org</a>
                </p>
                <p>
                    <span class="elemTitle">Facebook</span>
                    Vélo Cité Bordeaux <br>
                    Métropole
                </p>
                <p>
                    <span class="elemTitle">N° SIRET</span>
                    432 883 825 000 031
                </p>
                <p>
                    <span class="elemTitle">Code APE</span>
                    9499Z
                </p>
                <p>
                    n° d'agrément organisme de formation&nbsp;/ préfecture de la Gironde&nbsp;: n°72330976833
                </p>
                <p>
                    non assujetti TVA
                </p>
                <p>
                    Association locale d'usagers <br>
                    (Préfecture de la Gironde)
                </p>
                <p>
                    Adhérente à la FUB&nbsp;:<br>
                    Fédération nationale des <br>Usagers de la Bicyclette
                </p>
                <p>
                    Sous convention avec <br> Bordeaux Métropole
                </p>
            </div>
            {% endblock %}
            <div class="corps-lettre">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
