<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test génération lettre - Vélo-cité Bordeaux Métropole{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="flex-container">
            <div class="menu">
                <img src="{{ include('menu/data-menu.html.twig') }}" width="100" alt="">
                <p>
                    <span class="elemTitle">Adresse postale</span>
                    16 rue Ausone<br>
                    33000 Bordeaux
                </p>
                <p>
                    <span class="elemTitle">Tél.</span>
                    <a href="tel:+33556816389">05 56 81 63 89</a>
                </p>
                <p>
                    <span class="elemTitle">Site</span>
                    <a href="https://velo-cite.org">https://www.velo-cite.org</a>
                </p>
                <p>
                    <span class="elemTitle">Courriel</span>
                    <a href="mailto:contact@velo-cite.org">contact@velo-cite.org</a>
                </p>
                <p>
                    <span class="elemTitle">Facebook</span>
                    Vélo Cité Bordeaux <br>
                    Métropole
                </p>
                <p>
                    <span class="elemTitle">N° SIRET</span>
                    432 883 825 000 031
                </p>
                <p>
                    <span class="elemTitle">Code APE</span>
                    9499Z
                </p>
                <p>
                    n° d'agrément organisme de formation&nbsp;/ préfecture de la Gironde&nbsp;: n°72330976833
                </p>
                <p>
                    non assujetti TVA
                </p>
                <p>
                    Association locale d'usagers <br>
                    (Préfecture de la Gironde)
                </p>
                <p>
                    Adhérente à la FUB&nbsp;:<br>
                    Fédération nationale des <br>Usagers de la Bicyclette
                </p>
                <p>
                    Sous convention avec <br> Bordeaux Métropole
                </p>
            </div>
            <div class="corps-lettre">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
